name: Run luacheck and unit tests
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  luacheck:
    name: Run luacheck
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install additional packages
        run: |
          set -ex
          apt -qy update
          apt -qy install lua-check
      - name: Run luacheck
        run: luacheck lunamark/
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Build docker image
        run: |
          set -ex
          export DOCKER_BUILDKIT=1
          docker build -t jgm/lunamark .
      - name: Run unit tests
        run: |
          docker run --rm -v "$PWD":/mnt -w /mnt --entrypoint /bin/sh jgm/lunamark -c 'make test'
